<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registro</title>
	<meta charset="utf-8">

</head>

<body>		
		<form action="#" th:action="@{/usuario/agregar}" th:object="${usuario}" method="post">
		
				<p>Nombre: <input type="text" th:field="*{nombre}"></p>
				
				<p>Apellidos: <input type="text" th:field="*{apellidos}"></p>
				
				<p>Email: <input type="text" th:field="*{email}"></p>
        			<div th:if="${#fields.hasErrors('email')}" style="color: red; font-weight: bold;">
            			<p th:errors="*{email}"></p>
       				</div>
        			<div th:if="${emailError}" style="color: red; font-weight: bold;">
            			<p th:text="${emailError}"></p>
      				</div>
      				  
				<p>añoNacimiento: <input type="text" th:field="*{anioNacimiento}"></p>
				
				<p>Password: <input type="text" th:field="*{password}"></p>
     			   <div th:if="${#fields.hasErrors('password')}" style="color: red; font-weight: bold;">
           		   	  <p th:errors="*{password}"></p>
        		   </div>
        		   
				<p>telefono: <input type="text" th:field="*{telefono}"></p>
				
				<p><input type="submit" value="Guardar"></p>
			</form>
</body>

</html>